<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable WebSocket Protocol -->
    <webSocket enabled="true" />
    
    <rewrite>
      <rules>

        <!-- Socket.IO WebSocket proxy (MUST BE FIRST) -->
        <rule name="SocketIOProxy" stopProcessing="true">
          <match url="^socket\.io/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5123/socket.io/{R:1}" />
        </rule>

        <!-- API proxy to Node backend -->
        <rule name="BackendAPIProxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5123/api/{R:1}" />
        </rule>

        <!-- React SPA fallback -->
        <rule name="ReactSPAFallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
